@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --grid-unit: 1rem;
  --border-radius-base: 0.5rem;
}

[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
}

[data-theme="dark"] {
  --color-bg: #111111ab;
  --color-fg: #f2f7f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.6;
}

.checkmark {
  position: absolute;
  left: 0.75rem; 
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1.5rem;
}

.checkmark::after {
  left: 6px;
  top: 3px;
}