@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", serif;
}
a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: rgb(56, 56, 248);
}
